Django/NewsPaper/.gitignore
Django/NewsPaper/shell_commands.txt
Django/NewsPaper/NewsPaper/.gitignore
Django/NewsPaper/NewsPaper/db.sqlite3
Django/NewsPaper/NewsPaper/manage.py
Django/NewsPaper/NewsPaper/NewsPaper/__init__.py
Django/NewsPaper/NewsPaper/NewsPaper/asgi.py
Django/NewsPaper/NewsPaper/NewsPaper/settings.py
Django/NewsPaper/NewsPaper/NewsPaper/urls.py
Django/NewsPaper/NewsPaper/NewsPaper/wsgi.py
Django/NewsPaper/NewsPaper/news/__init__.py
Django/NewsPaper/NewsPaper/news/admin.py
Django/NewsPaper/NewsPaper/news/apps.py
Django/NewsPaper/NewsPaper/news/models.py
Django/NewsPaper/NewsPaper/news/tests.py
Django/NewsPaper/NewsPaper/news/urls.py
Django/NewsPaper/NewsPaper/news/views.py
Django/NewsPaper/NewsPaper/news/migrations/__init__.py
Django/NewsPaper/NewsPaper/news/migrations/0001_initial.py
Django/NewsPaper/NewsPaper/news/templatetags/custom_filters.py
Django/NewsPaper/NewsPaper/static/css/styles.css
Django/NewsPaper/NewsPaper/templates/n_article.html
Django/NewsPaper/NewsPaper/templates/news.html
Django/NewsPaper/NewsPaper/templates/flatpages/default.html
ml_dl/mycar.csv
ml_dl/regression.ipynb
ml_dl/requirements.txt
Django/simpleapp/project/.gitignore
Django/simpleapp/project/db.sqlite3
Django/simpleapp/project/requirements.txt
Django/simpleapp/project/project/settings.py
Django/simpleapp/project/project/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/settings.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/wsgi.cpython-310.pyc
Django/simpleapp/project/simpleapp/filters.py
Django/simpleapp/project/simpleapp/forms.py
Django/simpleapp/project/simpleapp/models.py
Django/simpleapp/project/simpleapp/urls.py
Django/simpleapp/project/simpleapp/views.py
Django/simpleapp/project/simpleapp/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/admin.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/apps.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/models.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/views.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/0001_initial.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/custom_tags.py
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_filters.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_tags.cpython-310.pyc
Django/simpleapp/project/templates/product_delete.html
Django/simpleapp/project/templates/product_edit.html
Django/simpleapp/project/templates/products.html
Django/simpleapp/project/templates/flatpages/default.html
Django/simpleapp/project/db.sqlite3
Django/simpleapp/project/requirements.txt
Django/simpleapp/project/project/settings.py
Django/simpleapp/project/project/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/settings.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/wsgi.cpython-310.pyc
Django/simpleapp/project/simpleapp/models.py
Django/simpleapp/project/simpleapp/urls.py
Django/simpleapp/project/simpleapp/views.py
Django/simpleapp/project/simpleapp/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/admin.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/apps.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/models.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/views.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/0001_initial.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/custom_tags.py
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_filters.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_tags.cpython-310.pyc
Django/simpleapp/project/templates/products.html
Django/simpleapp/project/templates/flatpages/default.html
Django/simpleapp/project/db.sqlite3
Django/simpleapp/project/requirements.txt
Django/simpleapp/project/project/settings.py
Django/simpleapp/project/project/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/settings.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/project/__pycache__/wsgi.cpython-310.pyc
Django/simpleapp/project/simpleapp/models.py
Django/simpleapp/project/simpleapp/urls.py
Django/simpleapp/project/simpleapp/views.py
Django/simpleapp/project/simpleapp/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/admin.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/apps.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/models.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/urls.cpython-310.pyc
Django/simpleapp/project/simpleapp/__pycache__/views.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/__init__.cpython-310.pyc
Django/simpleapp/project/simpleapp/migrations/__pycache__/0001_initial.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/custom_tags.py
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_filters.cpython-310.pyc
Django/simpleapp/project/simpleapp/templatetags/__pycache__/custom_tags.cpython-310.pyc
Django/simpleapp/project/templates/products.html
Django/simpleapp/project/templates/flatpages/default.html
python_intro/tic_tac_toe.py
